<section class="section">
	<div class="container">
		<div *ngIf="initPoke" class="columns is-multiline">
			<div class="column is-3" *ngFor="let poke of initPoke; let i = index">
				<div class="card">
					<div class="card-image">
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<p class="title is-4">{{initPoke[i].name}}</p>
								<button [routerLink]="['/character', initPoke[i].name]" class="button is-primary">View more</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>